
filepod-backend v2.0.0

-domain(domain layer)
  -FileEntity
    - timestamp
    - filedata
    - uid
    - filename

- usecases(application layer)
    for socketService/
        - subir un archivo 
        - guardar en db
    for Apiservice/
        - checkear que el hash/pin exista
        - devolver un status si el hash/pin existe
           y cantidad restante para poder ser descargado
- repository(application layer)
        - definicion del patron repository para el crud a la db 
- adapters (presentation layer)
    -controllers/
        - preview del archivo con metadatos(si se puede descargar, etc)
        - descarga del archivo
    - presenters/
        - preivew del archivo
        - preview de error en caso que no exista el archivo mas
   
    - socket manager
        - adaptador de las funcionilades del socket.
- frameworks(infrastructure layer)
    - implementacion del repository para la db especifica
    - implementacion del tcp-ip con socket.io
    - implementacion del server con express.js
