<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=filename%>
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            background-color: #4527a0;
            color: #ffffff;
            text-align: center;
            padding: 20px 0;
            margin-bottom: 20px;
        }

        .message {
            text-align: center;
        }

        button {
            background-color: #4527a0;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #6a1b9a;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>File Pod</h1>
    </div>
    <div class="container">

        <div class="message">
            <h2>Preview de descarga</h2>
            <p>Nombre del archivo: <b>
                    <%=filename%>
                </b></p>
            <p>Id del archivo: <b>
                    <%= uid %>
                </b></p>
            <form action="/file/download/<%= uid %>" method="get">
                <button type="submit">Descargar</button>
            </form>
        </div>
    </div>
</body>

</html>